In [180]:
from pydataset import data
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

import warnings
warnings.filterwarnings('ignore')

import acquire

## Data Acquisition

### In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [20]:
def get_summary(df):
    '''
    get_summary will take in one positional argument, a single pandas DF, 
    and will output info to the console regarding the following info:
    - print the first 3 rows
    - print the # of rows and columns
    - print the columns
    - print the dtypes of each col
    - print summary statistics
    
    return:none
    '''

    print('First 3 rows of the dataframe:')
    print(df.head(3))
    print('~~~~~~~~~~~~~~')
    print('Number of Rows and Cols in DF:')
    print(f'Rows: {df.shape[0]}, Cols: {df.shape[1]}')
    print('~~~~~~~~~~~~~~')
    print('Column Names:')
    [print(col) for col in df.columns]
    print('~~~~~~~~~~~~~~')
    [print(col,'- datatype:', df[col].dtype) for col in df.columns]
    print('~~~~~~~~~~~~~~')
    print(df.describe().T)
    print('~~~~~~~~~~~~~~')
    print('Descriptive stats for Object Variables: ')
    print(df.loc[:, df.dtypes=='O'].describe().T)
    print('~~~~~~~~~~~~~~')
    for col in df.loc[:, df.dtypes=='O']:
        if df[col].nunique() > 10:
            print(f'Column {col} has too many uniques ({df[col].nunique()}) to display')
        else:
            print(f' {col}: ', df[col].unique())

In [21]:
df_iris = data('iris')

In [22]:
get_summary(df_iris)

First 3 rows of the dataframe:
   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
~~~~~~~~~~~~~~
Number of Rows and Cols in DF:
Rows: 150, Cols: 5
~~~~~~~~~~~~~~
Column Names:
Sepal.Length
Sepal.Width
Petal.Length
Petal.Width
Species
~~~~~~~~~~~~~~
Sepal.Length - datatype: float64
Sepal.Width - datatype: float64
Petal.Length - datatype: float64
Petal.Width - datatype: float64
Species - datatype: object
~~~~~~~~~~~~~~
              count      mean       std  min  25%   50%  75%  max
Sepal.Length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
Sepal.Width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
Petal.Length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
Petal.Width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5
~~~~~~~~~~~~~~
Descriptive stats for Object Variables:
        count unique     top freq
Species   150      3  setosa   50
~~~~~~~~~~~~~~
 Species:  ['setosa' 'versicolor' 'virginica']

* print the first 3 rows

In [23]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

* print the number of rows and columns (shape)

In [24]:
df_iris.shape

(150, 5)

* print the column names

In [25]:
df_iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

* print the data type of each column

In [26]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

* print the summary statistics for each of the numeric variables

In [27]:
df_iris.describe().T

              count      mean       std  min  25%   50%  75%  max
Sepal.Length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
Sepal.Width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
Petal.Length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
Petal.Width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

### Read the data from this google sheet into a dataframe, df_google.

In [28]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'   

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)
df_google.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

* print the first 3 rows

In [29]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

* print the number of rows and columns

In [30]:
df_google.shape

(891, 12)

* print the column names

In [31]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

* print the data type of each column

In [32]:
df_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

* print the summary statistics for each of the numeric variables

In [33]:
df_google.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

* print the unique values for each of your categorical variables

In [34]:
# Need unique vals for all the categorical columns
# Name, Sex, Ticket, Cabin, Embarked
print(df_google['Name'].unique())
print(df_google['Sex'].unique())
print(df_google['Ticket'].unique())
print(df_google['Cabin'].unique())
print(df_google['Embarked'].unique())

['Braund, Mr. Owen Harris'
 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'
 'Heikkinen, Miss. Laina' 'Futrelle, Mrs. Jacques Heath (Lily May Peel)'
 'Allen, Mr. William Henry' 'Moran, Mr. James' 'McCarthy, Mr. Timothy J'
 'Palsson, Master. Gosta Leonard'
 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)'
 'Nasser, Mrs. Nicholas (Adele Achem)' 'Sandstrom, Miss. Marguerite Rut'
 'Bonnell, Miss. Elizabeth' 'Saundercock, Mr. William Henry'
 'Andersson, Mr. Anders Johan' 'Vestrom, Miss. Hulda Amanda Adolfina'
 'Hewlett, Mrs. (Mary D Kingcome) ' 'Rice, Master. Eugene'
 'Williams, Mr. Charles Eugene'
 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)'
 'Masselmani, Mrs. Fatima' 'Fynney, Mr. Joseph J' 'Beesley, Mr. Lawrence'
 'McGowan, Miss. Anna "Annie"' 'Sloper, Mr. William Thompson'
 'Palsson, Miss. Torborg Danira'
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)'
 'Emir, Mr. Farred Chehab' 'Fortune, Mr. Charles Alexander'
 'O\'Dwyer, Miss. Ellen "Nellie"' 'Todoroff, Mr. Lalio'
 'Uruchurtu, Don. Manuel E'
 'Spencer, Mrs. William Augustus (Marie Eugenie)'
 'Glynn, Miss. Mary Agatha' 'Wheadon, Mr. Edward H'
 'Meyer, Mr. Edgar Joseph' 'Holverson, Mr. Alexander Oskar'
 'Mamee, Mr. Hanna' 'Cann, Mr. Ernest Charles'
 'Vander Planke, Miss. Augusta Maria' 'Nicola-Yarred, Miss. Jamila'
 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)'
 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)'
 'Kraeff, Mr. Theodor' 'Laroche, Miss. Simonne Marie Anne Andree'
 'Devaney, Miss. Margaret Delia' 'Rogers, Mr. William John'
 'Lennon, Mr. Denis' "O'Driscoll, Miss. Bridget" 'Samaan, Mr. Youssef'
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)'
 'Panula, Master. Juha Niilo' 'Nosworthy, Mr. Richard Cater'
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)'
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)'
 'Ostby, Mr. Engelhart Cornelius' 'Woolner, Mr. Hugh' 'Rugg, Miss. Emily'
 'Novel, Mr. Mansouer' 'West, Miss. Constance Mirium'
 'Goodwin, Master. William Frederick' 'Sirayanian, Mr. Orsen'
 'Icard, Miss. Amelie' 'Harris, Mr. Henry Birkhardt'
 'Skoog, Master. Harald' 'Stewart, Mr. Albert A'
 'Moubarek, Master. Gerios' 'Nye, Mrs. (Elizabeth Ramell)'
 'Crease, Mr. Ernest James' 'Andersson, Miss. Erna Alexandra'
 'Kink, Mr. Vincenz' 'Jenkin, Mr. Stephen Curnow'
 'Goodwin, Miss. Lillian Amy' 'Hood, Mr. Ambrose Jr'
 'Chronopoulos, Mr. Apostolos' 'Bing, Mr. Lee' 'Moen, Mr. Sigurd Hansen'
 'Staneff, Mr. Ivan' 'Moutal, Mr. Rahamin Haim'
 'Caldwell, Master. Alden Gates' 'Dowdell, Miss. Elizabeth'
 'Waelens, Mr. Achille' 'Sheerlinck, Mr. Jan Baptist'
 'McDermott, Miss. Brigdet Delia' 'Carrau, Mr. Francisco M'
 'Ilett, Miss. Bertha'
 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)'
 'Ford, Mr. William Neal' 'Slocovski, Mr. Selman Francis'
 'Fortune, Miss. Mabel Helen' 'Celotti, Mr. Francesco'
 'Christmann, Mr. Emil' 'Andreasson, Mr. Paul Edvin'
 'Chaffee, Mr. Herbert Fuller' 'Dean, Mr. Bertram Frank'
 'Coxon, Mr. Daniel' 'Shorney, Mr. Charles Joseph'
 'Goldschmidt, Mr. George B' 'Greenfield, Mr. William Bertram'
 'Doling, Mrs. John T (Ada Julia Bone)' 'Kantor, Mr. Sinai'
 'Petranec, Miss. Matilda' 'Petroff, Mr. Pastcho ("Pentcho")'
 'White, Mr. Richard Frasar' 'Johansson, Mr. Gustaf Joel'
 'Gustafsson, Mr. Anders Vilhelm' 'Mionoff, Mr. Stoytcho'
 'Salkjelsvik, Miss. Anna Kristine' 'Moss, Mr. Albert Johan'
 'Rekic, Mr. Tido' 'Moran, Miss. Bertha' 'Porter, Mr. Walter Chamberlain'
 'Zabour, Miss. Hileni' 'Barton, Mr. David John' 'Jussila, Miss. Katriina'
 'Attalah, Miss. Malake' 'Pekoniemi, Mr. Edvard' 'Connors, Mr. Patrick'
 'Turpin, Mr. William John Robert' 'Baxter, Mr. Quigg Edmond'
 'Andersson, Miss. Ellis Anna Maria' 'Hickman, Mr. Stanley George'
 'Moore, Mr. Leonard Charles' 'Nasser, Mr. Nicholas' 'Webber, Miss. Susan'
 'White, Mr. Percival Wayland' 'Nicola-Yarred, Master. Elias'
 'McMahon, Mr. Martin' 'Madsen, Mr. Fridtjof Arne' 'Peter, Miss. Anna'
 'Ekstrom, Mr. Johan' 'Drazenoic, Mr. Jozef'
 'Coelho, Mr. Domingos Fernandeo'
 'Robins, Mrs. Alexander A (Grace Charity Laury)'
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)'
 'Sobey, Mr. Samuel James Hayden' 'Richard, Mr. Emile'
 'Newsom, Miss. Helen Monypeny' 'Futrelle, Mr. Jacques Heath'
 'Osen, Mr. Olaf Elon' 'Giglio, Mr. Victor'
 'Boulos, Mrs. Joseph (Sultana)' 'Nysten, Miss. Anna Sofia'
 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)'
 'Burke, Mr. Jeremiah' 'Andrew, Mr. Edgardo Samuel'
 'Nicholls, Mr. Joseph Charles'
 'Andersson, Mr. August Edvard ("Wennerstrom")'
 'Ford, Miss. Robina Maggie "Ruby"'
 'Navratil, Mr. Michel ("Louis M Hoffman")'
 'Byles, Rev. Thomas Roussel Davids' 'Bateman, Rev. Robert James'
 'Pears, Mrs. Thomas (Edith Wearne)' 'Meo, Mr. Alfonzo'
 'van Billiard, Mr. Austin Blyler' 'Olsen, Mr. Ole Martin'
 'Williams, Mr. Charles Duane' 'Gilnagh, Miss. Katherine "Katie"'
 'Corn, Mr. Harry' 'Smiljanic, Mr. Mile' 'Sage, Master. Thomas Henry'
 'Cribb, Mr. John Hatfield'
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)'
 'Bengtsson, Mr. John Viktor' 'Calic, Mr. Jovo'
 'Panula, Master. Eino Viljami'
 'Goldsmith, Master. Frank John William "Frankie"'
 'Chibnall, Mrs. (Edith Martha Bowerman)'
 'Skoog, Mrs. William (Anna Bernhardina Karlsson)' 'Baumann, Mr. John D'
 'Ling, Mr. Lee' 'Van der hoef, Mr. Wyckoff' 'Rice, Master. Arthur'
 'Johnson, Miss. Eleanor Ileen' 'Sivola, Mr. Antti Wilhelm'
 'Smith, Mr. James Clinch' 'Klasen, Mr. Klas Albin'
 'Lefebre, Master. Henry Forbes' 'Isham, Miss. Ann Elizabeth'
 'Hale, Mr. Reginald' 'Leonard, Mr. Lionel' 'Sage, Miss. Constance Gladys'
 'Pernot, Mr. Rene' 'Asplund, Master. Clarence Gustaf Hugo'
 'Becker, Master. Richard F' 'Kink-Heilmann, Miss. Luise Gretchen'
 'Rood, Mr. Hugh Roscoe'
 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)'
 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")' 'Bourke, Mr. John'
 'Turcin, Mr. Stjepan' 'Pinsky, Mrs. (Rosa)' 'Carbines, Mr. William'
 'Andersen-Jensen, Miss. Carla Christine Nielsine'
 'Navratil, Master. Michel M' 'Brown, Mrs. James Joseph (Margaret Tobin)'
 'Lurette, Miss. Elise' 'Mernagh, Mr. Robert'
 'Olsen, Mr. Karl Siegwart Andreas' 'Madigan, Miss. Margaret "Maggie"'
 'Yrois, Miss. Henriette ("Mrs Harbeck")' 'Vande Walle, Mr. Nestor Cyriel'
 'Sage, Mr. Frederick' 'Johanson, Mr. Jakob Alfred' 'Youseff, Mr. Gerious'
 'Cohen, Mr. Gurshon "Gus"' 'Strom, Miss. Telma Matilda'
 'Backstrom, Mr. Karl Alfred' 'Albimona, Mr. Nassef Cassem'
 'Carr, Miss. Helen "Ellen"' 'Blank, Mr. Henry' 'Ali, Mr. Ahmed'
 'Cameron, Miss. Clear Annie' 'Perkin, Mr. John Henry'
 'Givard, Mr. Hans Kristensen' 'Kiernan, Mr. Philip'
 'Newell, Miss. Madeleine' 'Honkanen, Miss. Eliina'
 'Jacobsohn, Mr. Sidney Samuel' 'Bazzani, Miss. Albina'
 'Harris, Mr. Walter' 'Sunderland, Mr. Victor Francis'
 'Bracken, Mr. James H' 'Green, Mr. George Henry' 'Nenkoff, Mr. Christo'
 'Hoyt, Mr. Frederick Maxfield' 'Berglund, Mr. Karl Ivar Sven'
 'Mellors, Mr. William John' 'Lovell, Mr. John Hall ("Henry")'
 'Fahlstrom, Mr. Arne Jonas' 'Lefebre, Miss. Mathilde'
 'Harris, Mrs. Henry Birkhardt (Irene Wallach)' 'Larsson, Mr. Bengt Edvin'
 'Sjostedt, Mr. Ernst Adolf' 'Asplund, Miss. Lillian Gertrud'
 'Leyson, Mr. Robert William Norman' 'Harknett, Miss. Alice Phoebe'
 'Hold, Mr. Stephen' 'Collyer, Miss. Marjorie "Lottie"'
 'Pengelly, Mr. Frederick William' 'Hunt, Mr. George Henry'
 'Zabour, Miss. Thamine' 'Murphy, Miss. Katherine "Kate"'
 'Coleridge, Mr. Reginald Charles' 'Maenpaa, Mr. Matti Alexanteri'
 'Attalah, Mr. Sleiman' 'Minahan, Dr. William Edward'
 'Lindahl, Miss. Agda Thorilda Viktoria' 'Hamalainen, Mrs. William (Anna)'
 'Beckwith, Mr. Richard Leonard' 'Carter, Rev. Ernest Courtenay'
 'Reed, Mr. James George' 'Strom, Mrs. Wilhelm (Elna Matilda Persson)'
 'Stead, Mr. William Thomas' 'Lobb, Mr. William Arthur'
 'Rosblom, Mrs. Viktor (Helena Wilhelmina)'
 'Touma, Mrs. Darwis (Hanne Youssef Razi)'
 'Thorne, Mrs. Gertrude Maybelle' 'Cherry, Miss. Gladys'
 'Ward, Miss. Anna' 'Parrish, Mrs. (Lutie Davis)' 'Smith, Mr. Thomas'
 'Asplund, Master. Edvin Rojj Felix' 'Taussig, Mr. Emil'
 'Harrison, Mr. William' 'Henry, Miss. Delia' 'Reeves, Mr. David'
 'Panula, Mr. Ernesti Arvid' 'Persson, Mr. Ernst Ulrik'
 'Graham, Mrs. William Thompson (Edith Junkins)' 'Bissette, Miss. Amelia'
 'Cairns, Mr. Alexander' 'Tornquist, Mr. William Henry'
 'Mellinger, Mrs. (Elizabeth Anne Maidment)' 'Natsch, Mr. Charles H'
 'Healy, Miss. Hanora "Nora"' 'Andrews, Miss. Kornelia Theodosia'
 'Lindblom, Miss. Augusta Charlotta' 'Parkes, Mr. Francis "Frank"'
 'Rice, Master. Eric' 'Abbott, Mrs. Stanton (Rosa Hunt)'
 'Duane, Mr. Frank' 'Olsson, Mr. Nils Johan Goransson'
 'de Pelsmaeker, Mr. Alfons' 'Dorking, Mr. Edward Arthur'
 'Smith, Mr. Richard William' 'Stankovic, Mr. Ivan'
 'de Mulder, Mr. Theodore' 'Naidenoff, Mr. Penko' 'Hosono, Mr. Masabumi'
 'Connolly, Miss. Kate' 'Barber, Miss. Ellen "Nellie"'
 'Bishop, Mrs. Dickinson H (Helen Walton)' 'Levy, Mr. Rene Jacques'
 'Haas, Miss. Aloisia' 'Mineff, Mr. Ivan' 'Lewy, Mr. Ervin G'
 'Hanna, Mr. Mansour' 'Allison, Miss. Helen Loraine'
 'Saalfeld, Mr. Adolphe' 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)'
 'Kelly, Miss. Anna Katherine "Annie Kate"' 'McCoy, Mr. Bernard'
 'Johnson, Mr. William Cahoone Jr' 'Keane, Miss. Nora A'
 'Williams, Mr. Howard Hugh "Harry"' 'Allison, Master. Hudson Trevor'
 'Fleming, Miss. Margaret'
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)'
 'Abelson, Mr. Samuel' 'Francatelli, Miss. Laura Mabel'
 'Hays, Miss. Margaret Bechstein' 'Ryerson, Miss. Emily Borie'
 'Lahtinen, Mrs. William (Anna Sylfven)' 'Hendekovic, Mr. Ignjac'
 'Hart, Mr. Benjamin' 'Nilsson, Miss. Helmina Josefina'
 'Kantor, Mrs. Sinai (Miriam Sternin)' 'Moraweck, Dr. Ernest'
 'Wick, Miss. Mary Natalie'
 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)'
 'Dennis, Mr. Samuel' 'Danoff, Mr. Yoto' 'Slayter, Miss. Hilda Mary'
 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)'
 'Sage, Mr. George John Jr' 'Young, Miss. Marie Grice'
 'Nysveen, Mr. Johan Hansen' 'Ball, Mrs. (Ada E Hall)'
 'Goldsmith, Mrs. Frank John (Emily Alice Brown)'
 'Hippach, Miss. Jean Gertrude' 'McCoy, Miss. Agnes' 'Partner, Mr. Austen'
 'Graham, Mr. George Edward' 'Vander Planke, Mr. Leo Edmondus'
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)' 'Denkoff, Mr. Mitto'
 'Pears, Mr. Thomas Clinton' 'Burns, Miss. Elizabeth Margaret'
 'Dahl, Mr. Karl Edwart' 'Blackwell, Mr. Stephen Weart'
 'Navratil, Master. Edmond Roger' 'Fortune, Miss. Alice Elizabeth'
 'Collander, Mr. Erik Gustaf' 'Sedgwick, Mr. Charles Frederick Waddington'
 'Fox, Mr. Stanley Hubert' 'Brown, Miss. Amelia "Mildred"'
 'Smith, Miss. Marion Elsie' 'Davison, Mrs. Thomas Henry (Mary E Finck)'
 'Coutts, Master. William Loch "William"' 'Dimic, Mr. Jovan'
 'Odahl, Mr. Nils Martin' 'Williams-Lambert, Mr. Fletcher Fellows'
 'Elias, Mr. Tannous' 'Arnold-Franchi, Mr. Josef' 'Yousif, Mr. Wazli'
 'Vanden Steen, Mr. Leo Peter' 'Bowerman, Miss. Elsie Edith'
 'Funk, Miss. Annie Clemmer' 'McGovern, Miss. Mary'
 'Mockler, Miss. Helen Mary "Ellie"' 'Skoog, Mr. Wilhelm'
 'del Carlo, Mr. Sebastiano' 'Barbara, Mrs. (Catherine David)'
 'Asim, Mr. Adola' "O'Brien, Mr. Thomas" 'Adahl, Mr. Mauritz Nils Martin'
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)'
 'Moussa, Mrs. (Mantoura Boulos)' 'Jermyn, Miss. Annie'
 'Aubart, Mme. Leontine Pauline' 'Harder, Mr. George Achilles'
 'Wiklund, Mr. Jakob Alfred' 'Beavan, Mr. William Thomas'
 'Ringhini, Mr. Sante' 'Palsson, Miss. Stina Viola'
 'Meyer, Mrs. Edgar Joseph (Leila Saks)' 'Landergren, Miss. Aurora Adelia'
 'Widener, Mr. Harry Elkins' 'Betros, Mr. Tannous'
 'Gustafsson, Mr. Karl Gideon' 'Bidois, Miss. Rosalie'
 'Nakid, Miss. Maria ("Mary")' 'Tikkanen, Mr. Juho'
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)'
 'Plotcharsky, Mr. Vasil' 'Davies, Mr. Charles Henry'
 'Goodwin, Master. Sidney Leonard' 'Buss, Miss. Kate'
 'Sadlier, Mr. Matthew' 'Lehmann, Miss. Bertha'
 'Carter, Mr. William Ernest' 'Jansson, Mr. Carl Olof'
 'Gustafsson, Mr. Johan Birger' 'Newell, Miss. Marjorie'
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)'
 'Johansson, Mr. Erik' 'Olsson, Miss. Elina' 'McKane, Mr. Peter David'
 'Pain, Dr. Alfred' 'Trout, Mrs. William H (Jessie L)'
 'Niskanen, Mr. Juha' 'Adams, Mr. John' 'Jussila, Miss. Mari Aina'
 'Hakkarainen, Mr. Pekka Pietari' 'Oreskovic, Miss. Marija'
 'Gale, Mr. Shadrach' 'Widegren, Mr. Carl/Charles Peter'
 'Richards, Master. William Rowe' 'Birkeland, Mr. Hans Martin Monsen'
 'Lefebre, Miss. Ida' 'Sdycoff, Mr. Todor' 'Hart, Mr. Henry'
 'Minahan, Miss. Daisy E' 'Cunningham, Mr. Alfred Fleming'
 'Sundman, Mr. Johan Julian' 'Meek, Mrs. Thomas (Annie Louise Rowley)'
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)'
 'Silven, Miss. Lyyli Karoliina' 'Matthews, Mr. William John'
 'Van Impe, Miss. Catharina' 'Gheorgheff, Mr. Stanio'
 'Charters, Mr. David' 'Zimmerman, Mr. Leo'
 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)'
 'Rosblom, Mr. Viktor Richard' 'Wiseman, Mr. Phillippe'
 'Clarke, Mrs. Charles V (Ada Maria Winfield)'
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")'
 'Flynn, Mr. James' 'Pickard, Mr. Berk (Berk Trembisky)'
 'Bjornstrom-Steffansson, Mr. Mauritz Hakan'
 'Thorneycroft, Mrs. Percival (Florence Kate White)'
 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)'
 'Kallio, Mr. Nikolai Erland' 'Silvey, Mr. William Baird'
 'Carter, Miss. Lucile Polk' 'Ford, Miss. Doolina Margaret "Daisy"'
 'Richards, Mrs. Sidney (Emily Hocking)' 'Fortune, Mr. Mark'
 'Kvillner, Mr. Johan Henrik Johannesson'
 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)' 'Hampe, Mr. Leon'
 'Petterson, Mr. Johan Emil' 'Reynaldo, Ms. Encarnacion'
 'Johannesen-Bratthammer, Mr. Bernt' 'Dodge, Master. Washington'
 'Mellinger, Miss. Madeleine Violet' 'Seward, Mr. Frederic Kimber'
 'Baclini, Miss. Marie Catherine' 'Peuchen, Major. Arthur Godfrey'
 'West, Mr. Edwy Arthur' 'Hagland, Mr. Ingvald Olai Olsen'
 'Foreman, Mr. Benjamin Laventall' 'Goldenberg, Mr. Samuel L'
 'Peduzzi, Mr. Joseph' 'Jalsevac, Mr. Ivan' 'Millet, Mr. Francis Davis'
 'Kenyon, Mrs. Frederick R (Marion)' 'Toomey, Miss. Ellen'
 "O'Connor, Mr. Maurice" 'Anderson, Mr. Harry' 'Morley, Mr. William'
 'Gee, Mr. Arthur H' 'Milling, Mr. Jacob Christian' 'Maisner, Mr. Simon'
 'Goncalves, Mr. Manuel Estanslas' 'Campbell, Mr. William'
 'Smart, Mr. John Montgomery' 'Scanlan, Mr. James'
 'Baclini, Miss. Helene Barbara' 'Keefe, Mr. Arthur' 'Cacic, Mr. Luka'
 'West, Mrs. Edwy Arthur (Ada Mary Worth)'
 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)'
 'Strandberg, Miss. Ida Sofia' 'Clifford, Mr. George Quincy'
 'Renouf, Mr. Peter Henry' 'Braund, Mr. Lewis Richard'
 'Karlsson, Mr. Nils August' 'Hirvonen, Miss. Hildur E'
 'Goodwin, Master. Harold Victor' 'Frost, Mr. Anthony Wood "Archie"'
 'Rouse, Mr. Richard Henry' 'Turkula, Mrs. (Hedwig)'
 'Bishop, Mr. Dickinson H' 'Lefebre, Miss. Jeannie'
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)'
 'Kent, Mr. Edward Austin' 'Somerton, Mr. Francis William'
 'Coutts, Master. Eden Leslie "Neville"'
 'Hagland, Mr. Konrad Mathias Reiersen' 'Windelov, Mr. Einar'
 'Molson, Mr. Harry Markland' 'Artagaveytia, Mr. Ramon'
 'Stanley, Mr. Edward Roland' 'Yousseff, Mr. Gerious'
 'Eustis, Miss. Elizabeth Mussey' 'Shellard, Mr. Frederick William'
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)' 'Svensson, Mr. Olof'
 'Calic, Mr. Petar' 'Canavan, Miss. Mary' "O'Sullivan, Miss. Bridget Mary"
 'Laitinen, Miss. Kristina Sofia' 'Maioni, Miss. Roberta'
 'Penasco y Castellana, Mr. Victor de Satode'
 'Quick, Mrs. Frederick Charles (Jane Richards)'
 'Bradley, Mr. George ("George Arthur Brayton")'
 'Olsen, Mr. Henry Margido' 'Lang, Mr. Fang' 'Daly, Mr. Eugene Patrick'
 'Webber, Mr. James' 'McGough, Mr. James Robert'
 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)' 'Coleff, Mr. Satio'
 'Walker, Mr. William Anderson' 'Lemore, Mrs. (Amelia Milley)'
 'Ryan, Mr. Patrick'
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)'
 'Pavlovic, Mr. Stefo' 'Perreault, Miss. Anne' 'Vovk, Mr. Janko'
 'Lahoud, Mr. Sarkis' 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)'
 'Kassem, Mr. Fared' 'Farrell, Mr. James' 'Ridsdale, Miss. Lucy'
 'Farthing, Mr. John' 'Salonen, Mr. Johan Werner'
 'Hocking, Mr. Richard George' 'Quick, Miss. Phyllis May'
 'Toufik, Mr. Nakli' 'Elias, Mr. Joseph Jr'
 'Peter, Mrs. Catherine (Catherine Rizk)' 'Cacic, Miss. Marija'
 'Hart, Miss. Eva Miriam' 'Butt, Major. Archibald Willingham'
 'LeRoy, Miss. Bertha' 'Risien, Mr. Samuel Beard'
 'Frolicher, Miss. Hedwig Margaritha' 'Crosby, Miss. Harriet R'
 'Andersson, Miss. Ingeborg Constanzia'
 'Andersson, Miss. Sigrid Elisabeth' 'Beane, Mr. Edward'
 'Douglas, Mr. Walter Donald' 'Nicholson, Mr. Arthur Ernest'
 'Beane, Mrs. Edward (Ethel Clarke)' 'Padro y Manent, Mr. Julian'
 'Goldsmith, Mr. Frank John' 'Davies, Master. John Morgan Jr'
 'Thayer, Mr. John Borland Jr' 'Sharp, Mr. Percival James R'
 "O'Brien, Mr. Timothy" 'Leeni, Mr. Fahim ("Philip Zenni")'
 'Ohman, Miss. Velin' 'Wright, Mr. George'
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")'
 'Robbins, Mr. Victor' 'Taussig, Mrs. Emil (Tillie Mandelbaum)'
 'de Messemaeker, Mrs. Guillaume Joseph (Emma)' 'Morrow, Mr. Thomas Rowan'
 'Sivic, Mr. Husein' 'Norman, Mr. Robert Douglas' 'Simmons, Mr. John'
 'Meanwell, Miss. (Marion Ogden)' 'Davies, Mr. Alfred J'
 'Stoytcheff, Mr. Ilia' 'Palsson, Mrs. Nils (Alma Cornelia Berglund)'
 'Doharr, Mr. Tannous' 'Jonsson, Mr. Carl' 'Harris, Mr. George'
 'Appleton, Mrs. Edward Dale (Charlotte Lamson)'
 'Flynn, Mr. John Irwin ("Irving")' 'Kelly, Miss. Mary'
 'Rush, Mr. Alfred George John' 'Patchett, Mr. George'
 'Garside, Miss. Ethel' 'Silvey, Mrs. William Baird (Alice Munger)'
 'Caram, Mrs. Joseph (Maria Elias)' 'Jussila, Mr. Eiriik'
 'Christy, Miss. Julie Rachel'
 'Thayer, Mrs. John Borland (Marian Longstreth Morris)'
 'Downton, Mr. William James' 'Ross, Mr. John Hugo' 'Paulner, Mr. Uscher'
 'Taussig, Miss. Ruth' 'Jarvis, Mr. John Denzil'
 'Frolicher-Stehli, Mr. Maxmillian' 'Gilinski, Mr. Eliezer'
 'Murdlin, Mr. Joseph' 'Rintamaki, Mr. Matti'
 'Stephenson, Mrs. Walter Bertram (Martha Eustis)'
 'Elsbury, Mr. William James' 'Bourke, Miss. Mary'
 'Chapman, Mr. John Henry' 'Van Impe, Mr. Jean Baptiste'
 'Leitch, Miss. Jessie Wills' 'Johnson, Mr. Alfred' 'Boulos, Mr. Hanna'
 'Duff Gordon, Sir. Cosmo Edmund ("Mr Morgan")'
 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)'
 'Slabenoff, Mr. Petco' 'Harrington, Mr. Charles H'
 'Torber, Mr. Ernst William' 'Homer, Mr. Harry ("Mr E Haven")'
 'Lindell, Mr. Edvard Bengtsson' 'Karaic, Mr. Milan'
 'Daniel, Mr. Robert Williams'
 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)'
 'Shutes, Miss. Elizabeth W'
 'Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)'
 'Jardin, Mr. Jose Neto' 'Murphy, Miss. Margaret Jane' 'Horgan, Mr. John'
 'Brocklebank, Mr. William Alfred' 'Herman, Miss. Alice'
 'Danbom, Mr. Ernst Gilbert'
 'Lobb, Mrs. William Arthur (Cordelia K Stanlick)'
 'Becker, Miss. Marion Louise' 'Gavey, Mr. Lawrence' 'Yasbeck, Mr. Antoni'
 'Kimball, Mr. Edwin Nelson Jr' 'Nakid, Mr. Sahid'
 'Hansen, Mr. Henry Damsgaard' 'Bowen, Mr. David John "Dai"'
 'Sutton, Mr. Frederick' 'Kirkland, Rev. Charles Leonard'
 'Longley, Miss. Gretchen Fiske' 'Bostandyeff, Mr. Guentcho'
 "O'Connell, Mr. Patrick D" 'Barkworth, Mr. Algernon Henry Wilson'
 'Lundahl, Mr. Johan Svensson' 'Stahelin-Maeglin, Dr. Max'
 'Parr, Mr. William Henry Marsh' 'Skoog, Miss. Mabel' 'Davis, Miss. Mary'
 'Leinonen, Mr. Antti Gustaf' 'Collyer, Mr. Harvey'
 'Panula, Mrs. Juha (Maria Emilia Ojala)' 'Thorneycroft, Mr. Percival'
 'Jensen, Mr. Hans Peder' 'Sagesser, Mlle. Emma'
 'Skoog, Miss. Margit Elizabeth' 'Foo, Mr. Choong'
 'Baclini, Miss. Eugenie' 'Harper, Mr. Henry Sleeper' 'Cor, Mr. Liudevit'
 'Simonius-Blumer, Col. Oberst Alfons' 'Willey, Mr. Edward'
 'Stanley, Miss. Amy Zillah Elsie' 'Mitkoff, Mr. Mito'
 'Doling, Miss. Elsie' 'Kalvik, Mr. Johannes Halvorsen'
 'O\'Leary, Miss. Hanora "Norah"' 'Hegarty, Miss. Hanora "Nora"'

### Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [35]:
df_excel = pd.read_excel('train.xlsx')

* assign the first 100 rows to a new dataframe, df_excel_sample

In [36]:
df_excel_sample = df_excel.head(100)

* print the number of rows of your original dataframe

In [37]:
df_excel.shape[0]

891

* print the first 5 column names

In [38]:
df_excel.columns[0:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

* print the column names that have a data type of object

In [39]:
list(df_excel_sample.select_dtypes(include='object'))

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

* compute the range for each of the numeric variables.

In [40]:
df_excel.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

In [41]:
def _range(series):
 return series.max() - series.min()

In [42]:
print(df_excel[['Age', "Fare"]].agg([_range]))

          Age      Fare
_range  79.58  512.3292

## Data Preperation

### Using the Iris Data:

In [218]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# import splitting and imputing functions
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# turn off pink boxes for demo
import warnings
warnings.filterwarnings("ignore")

# import our own acquire module
import acquire

1. Use the function defined in acquire.py to load the iris data.

In [257]:
iris_df = acquire.get_iris()
iris_df.head(3)

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa

2. Drop the species_id and measurement_id columns.

In [258]:
iris_df.drop(['species_id' , 'measurement_id'], axis=1, inplace=True)

In [259]:
iris_df.head(3)

   sepal_length  sepal_width  petal_length  petal_width species_name
0           5.1          3.5           1.4          0.2       setosa
1           4.9          3.0           1.4          0.2       setosa
2           4.7          3.2           1.3          0.2       setosa

3. Rename the species_name column to just species.

In [260]:
iris_df.rename(columns={'species_name': 'species'}, inplace=True)
iris_df.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

4. Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [261]:
dummy_iris = pd.get_dummies(iris_df['species'], drop_first=True, dtype=int)
dummy_iris.head()

   versicolor  virginica
0           0          0
1           0          0
2           0          0
3           0          0
4           0          0

In [262]:
iris_df = pd.concat([iris_df, dummy_iris], axis=1)
iris_df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0

5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [263]:
def prep_iris(iris_df):
    # drop columns
      # rename species_name column to species
    iris_df =  iris_df.drop(['species_id' , 'measurement_id'], axis=1).rename(columns={'species_name': 'species'})
    
    # create dummies for species and then join to iris_df
    dummy_iris = pd.get_dummies(iris_df['species'], drop_first=True, dtype=int)
    iris_df = pd.concat([iris_df, dummy_iris], axis=1)
    
    return iris_df

In [267]:
# testing prep_iris function
iris_df = acquire.get_iris()
iris_df.head(3)

,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,2,4.9,3.0,1.4,0.2,setosa
2,1,3,4.7,3.2,1.3,0.2,setosa

In [268]:
iris_df = prep_iris(iris_df)
iris_df.head()

,sepal_length,sepal_width,petal_length,petal_width,species,versicolor,virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0

### Using the Titanic dataset

1. Use the function defined in acquire.py to load the Titanic data.

In [269]:
titanic_df = acquire.get_titanic_data()
titanic_df.head(3)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1

2. Drop any unnecessary, unhelpful, or duplicated columns.

In [270]:
get_summary(titanic_df)

First 3 rows of the dataframe:
   passenger_id  survived  pclass     sex   age  sibsp  parch     fare  \
0             0         0       3    male  22.0      1      0   7.2500
1             1         1       1  female  38.0      1      0  71.2833
2             2         1       3  female  26.0      0      0   7.9250

  embarked  class deck  embark_town  alone
0        S  Third  NaN  Southampton      0
1        C  First    C    Cherbourg      0
2        S  Third  NaN  Southampton      1
~~~~~~~~~~~~~~
Number of Rows and Cols in DF:
Rows: 891, Cols: 13
~~~~~~~~~~~~~~
Column Names:
passenger_id
survived
pclass
sex
age
sibsp
parch
fare
embarked
class
deck
embark_town
alone
~~~~~~~~~~~~~~
passenger_id - datatype: int64
survived - datatype: int64
pclass - datatype: int64
sex - datatype: object
age - datatype: float64
sibsp - datatype: int64
parch - datatype: int64
fare - datatype: float64
embarked - datatype: object
class - datatype: object
deck - datatype: object
embark_town - datatype: object
alone - datatype: int64
~~~~~~~~~~~~~~
              count        mean         std   min       25%       50%    75%  \
passenger_id  891.0  445.000000  257.353842  0.00  222.5000  445.0000  667.5
survived      891.0    0.383838    0.486592  0.00    0.0000    0.0000    1.0
pclass        891.0    2.308642    0.836071  1.00    2.0000    3.0000    3.0
age           714.0   29.699118   14.526497  0.42   20.1250   28.0000   38.0
sibsp         891.0    0.523008    1.102743  0.00    0.0000    0.0000    1.0
parch         891.0    0.381594    0.806057  0.00    0.0000    0.0000    0.0
fare          891.0   32.204208   49.693429  0.00    7.9104   14.4542   31.0
alone         891.0    0.602694    0.489615  0.00    0.0000    1.0000    1.0

                   max
passenger_id  890.0000
survived        1.0000
pclass          3.0000
age            80.0000
sibsp           8.0000
parch           6.0000
fare          512.3292
alone           1.0000
~~~~~~~~~~~~~~
Descriptive stats for Object Variables:
            count unique          top freq
sex           891      2         male  577
embarked      889      3            S  644
class         891      3        Third  491
deck          203      7            C   59
embark_town   889      3  Southampton  644
~~~~~~~~~~~~~~
 sex:  ['male' 'female']
 embarked:  ['S' 'C' 'Q' nan]
 class:  ['Third' 'First' 'Second']
 deck:  [nan 'C' 'E' 'G' 'D' 'A' 'B' 'F']
 embark_town:  ['Southampton' 'Cherbourg' 'Queenstown' nan]

In [271]:
titanic_df = titanic_df.drop(columns =['embarked','class','deck', 'age'])
titanic_df.head()

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone
0,0,0,3,male,1,0,7.2500,Southampton,0
1,1,1,1,female,1,0,71.2833,Cherbourg,0
2,2,1,3,female,0,0,7.9250,Southampton,1
3,3,1,1,female,1,0,53.1000,Southampton,0
4,4,0,3,male,0,0,8.0500,Southampton,1

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [272]:
dummy_df = pd.get_dummies(titanic_df[['sex','embark_town']], drop_first=True, dtype=int)
titanic_df = pd.concat([titanic_df, dummy_df], axis=1)
titanic_df.head(3)

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,female,1,0,71.2833,Cherbourg,0,0,0,0
2,2,1,3,female,0,0,7.9250,Southampton,1,0,0,1

4. Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [273]:
def prep_titanic(titanic_df):
    #drop columns
    titanic_df = titanic_df.drop(columns =['embarked','class','deck', 'age'])
    #create dummies
    dummy_df = pd.get_dummies(titanic_df[['sex','embark_town']], drop_first=True, dtype=int)
    titanic_df = pd.concat([titanic_df, dummy_df], axis=1)
    
    
    return titanic_df

In [274]:
# testing the prep_titanic function
titanic_df = acquire.get_titanic_data()
titanic_df.head(3)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1

In [275]:
titanic_df = prep_titanic(titanic_df)
titanic_df.head()

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embark_town,alone,sex_male,embark_town_Queenstown,embark_town_Southampton
0,0,0,3,male,1,0,7.2500,Southampton,0,1,0,1
1,1,1,1,female,1,0,71.2833,Cherbourg,0,0,0,0
2,2,1,3,female,0,0,7.9250,Southampton,1,0,0,1
3,3,1,1,female,1,0,53.1000,Southampton,0,0,0,1
4,4,0,3,male,0,0,8.0500,Southampton,1,1,0,1

### Using the Telco dataset

1. Use the function defined in acquire.py to load the Telco data.

In [284]:
telco_df = acquire.get_telco_data()
telco_df.head(3)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check

In [285]:
get_summary(telco_df)

First 3 rows of the dataframe:
   payment_type_id  internet_service_type_id  contract_type_id customer_id  \
0                2                         1                 2  0002-ORFBO
1                2                         1                 1  0003-MKNFE
2                1                         2                 1  0004-TLHLJ

   gender  senior_citizen partner dependents  tenure phone_service  \
0  Female               0     Yes        Yes       9           Yes
1    Male               0      No         No       9           Yes
2    Male               0      No         No       4           Yes

  multiple_lines online_security online_backup device_protection tech_support  \
0             No              No           Yes                No          Yes
1            Yes              No            No                No           No
2             No              No            No               Yes           No

  streaming_tv streaming_movies paperless_billing  monthly_charges  \
0          Yes               No               Yes             65.6
1           No              Yes                No             59.9
2           No               No               Yes             73.9

  total_charges churn   contract_type internet_service_type      payment_type
0         593.3    No        One year                   DSL      Mailed check
1         542.4    No  Month-to-month                   DSL      Mailed check
2        280.85   Yes  Month-to-month           Fiber optic  Electronic check
~~~~~~~~~~~~~~
Number of Rows and Cols in DF:
Rows: 7043, Cols: 24
~~~~~~~~~~~~~~
Column Names:
payment_type_id
internet_service_type_id
contract_type_id
customer_id
gender
senior_citizen
partner
dependents
tenure
phone_service
multiple_lines
online_security
online_backup
device_protection
tech_support
streaming_tv
streaming_movies
paperless_billing
monthly_charges
total_charges
churn
contract_type
internet_service_type
payment_type
~~~~~~~~~~~~~~
payment_type_id - datatype: int64
internet_service_type_id - datatype: int64
contract_type_id - datatype: int64
customer_id - datatype: object
gender - datatype: object
senior_citizen - datatype: int64
partner - datatype: object
dependents - datatype: object
tenure - datatype: int64
phone_service - datatype: object
multiple_lines - datatype: object
online_security - datatype: object
online_backup - datatype: object
device_protection - datatype: object
tech_support - datatype: object
streaming_tv - datatype: object
streaming_movies - datatype: object
paperless_billing - datatype: object
monthly_charges - datatype: float64
total_charges - datatype: object
churn - datatype: object
contract_type - datatype: object
internet_service_type - datatype: object
payment_type - datatype: object
~~~~~~~~~~~~~~
                           count       mean        std    min   25%    50%  \
payment_type_id           7043.0   2.315633   1.148907   1.00   1.0   2.00
internet_service_type_id  7043.0   1.872923   0.737796   1.00   1.0   2.00
contract_type_id          7043.0   1.690473   0.833755   1.00   1.0   1.00
senior_citizen            7043.0   0.162147   0.368612   0.00   0.0   0.00
tenure                    7043.0  32.371149  24.559481   0.00   9.0  29.00
monthly_charges           7043.0  64.761692  30.090047  18.25  35.5  70.35

                            75%     max
payment_type_id            3.00    4.00
internet_service_type_id   2.00    3.00
contract_type_id           2.00    3.00
senior_citizen             0.00    1.00
tenure                    55.00   72.00
monthly_charges           89.85  118.75
~~~~~~~~~~~~~~
Descriptive stats for Object Variables:
                      count unique               top  freq
customer_id            7043   7043        0002-ORFBO     1
gender                 7043      2              Male  3555
partner                7043      2                No  3641
dependents             7043      2                No  4933
phone_service          7043      2               Yes  6361
multiple_lines         7043      3                No  3390
online_security        7043      3                No  3498
online_backup          7043      3                No  3088
device_protection      7043      3                No  3095
tech_support           7043      3                No  3473
streaming_tv           7043      3                No  2810
streaming_movies       7043      3                No  2785
paperless_billing      7043      2               Yes  4171
total_charges          7043   6531                      11
churn                  7043      2                No  5174
contract_type          7043      3    Month-to-month  3875
internet_service_type  5517      2       Fiber optic  3096
payment_type           7043      4  Electronic check  2365
~~~~~~~~~~~~~~
Column customer_id has too many uniques (7043) to display
 gender:  ['Female' 'Male']
 partner:  ['Yes' 'No']
 dependents:  ['Yes' 'No']
 phone_service:  ['Yes' 'No']
 multiple_lines:  ['No' 'Yes' 'No phone service']
 online_security:  ['No' 'Yes' 'No internet service']
 online_backup:  ['Yes' 'No' 'No internet service']
 device_protection:  ['No' 'Yes' 'No internet service']
 tech_support:  ['Yes' 'No' 'No internet service']
 streaming_tv:  ['Yes' 'No' 'No internet service']
 streaming_movies:  ['No' 'Yes' 'No internet service']
 paperless_billing:  ['Yes' 'No']
Column total_charges has too many uniques (6531) to display
 churn:  ['No' 'Yes']
 contract_type:  ['One year' 'Month-to-month' 'Two year']
 internet_service_type:  ['DSL' 'Fiber optic' nan]
 payment_type:  ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']

2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [286]:
telco_df.isnull().sum()

payment_type_id                0
internet_service_type_id       0
contract_type_id               0
customer_id                    0
gender                         0
senior_citizen                 0
partner                        0
dependents                     0
tenure                         0
phone_service                  0
multiple_lines                 0
online_security                0
online_backup                  0
device_protection              0
tech_support                   0
streaming_tv                   0
streaming_movies               0
paperless_billing              0
monthly_charges                0
total_charges                  0
churn                          0
contract_type                  0
internet_service_type       1526
payment_type                   0
dtype: int64

In [288]:
pd.crosstab(telco_df['contract_type'], telco_df['contract_type_id'])
# drop contract_type_id and dummy contract_type

contract_type_id     1     2     3
contract_type
Month-to-month    3875     0     0
One year             0  1473     0
Two year             0     0  1695

In [289]:
pd.crosstab(telco_df['payment_type'], telco_df['payment_type_id'])

#get rid of payment_type_id and add dummies for payment_type

payment_type_id               1     2     3     4
payment_type
Bank transfer (automatic)     0     0  1544     0
Credit card (automatic)       0     0     0  1522
Electronic check           2365     0     0     0
Mailed check                  0  1612     0     0

In [290]:
pd.crosstab(telco_df['internet_service_type'], telco_df['internet_service_type_id'])
# drop internet_service_type_id and dummy the internet_service_type after updating null val to 'no internet'

internet_service_type_id     1     2
internet_service_type
DSL                       2421     0
Fiber optic                  0  3096

In [291]:
telco_df.internet_service_type_id.value_counts()

internet_service_type_id
2    3096
1    2421
3    1526
Name: count, dtype: int64

In [292]:
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   payment_type_id           7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   contract_type_id          7043 non-null   int64
 3   customer_id               7043 non-null   object
 4   gender                    7043 non-null   object
 5   senior_citizen            7043 non-null   int64
 6   partner                   7043 non-null   object
 7   dependents                7043 non-null   object
 8   tenure                    7043 non-null   int64
 9   phone_service             7043 non-null   object
 10  multiple_lines            7043 non-null   object
 11  online_security           7043 non-null   object
 12  online_backup             7043 non-null   object
 13  device_protection         7043 non-null   object
 14  tech_support              7043 non-null   object
 15  streaming_tv              7043 non-null   object
 16  streaming_movies          7043 non-null   object
 17  paperless_billing         7043 non-null   object
 18  monthly_charges           7043 non-null   float64
 19  total_charges             7043 non-null   object
 20  churn                     7043 non-null   object
 21  contract_type             7043 non-null   object
 22  internet_service_type     5517 non-null   object
 23  payment_type              7043 non-null   object
dtypes: float64(1), int64(5), object(18)
memory usage: 1.3+ MB

In [293]:
telco_df.columns

Index(['payment_type_id', 'internet_service_type_id', 'contract_type_id',
       'customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'online_security',
       'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
       'streaming_movies', 'paperless_billing', 'monthly_charges',
       'total_charges', 'churn', 'contract_type', 'internet_service_type',
       'payment_type'],
      dtype='object')

In [294]:
telco_df = telco_df.drop(columns =['payment_type_id','internet_service_type_id','contract_type_id'])
telco_df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,No,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [295]:
pd.set_option('display.max_columns', None)

In [296]:
dummy_list = ['gender','partner', 'dependents', 'phone_service', 'multiple_lines', 'online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies', 'paperless_billing', 'churn', 'contract_type', 'internet_service_type', 'payment_type']
dummy_df = pd.get_dummies(telco_df[dummy_list], dtype=int, drop_first=True)

telco_df = pd.concat([telco_df, dummy_df], axis=1)

In [297]:
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 47 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customer_id                            7043 non-null   object
 1   gender                                 7043 non-null   object
 2   senior_citizen                         7043 non-null   int64
 3   partner                                7043 non-null   object
 4   dependents                             7043 non-null   object
 5   tenure                                 7043 non-null   int64
 6   phone_service                          7043 non-null   object
 7   multiple_lines                         7043 non-null   object
 8   online_security                        7043 non-null   object
 9   online_backup                          7043 non-null   object
 10  device_protection                      7043 non-null   object
 11  tech_support                           7043 non-null   object
 12  streaming_tv                           7043 non-null   object
 13  streaming_movies                       7043 non-null   object
 14  paperless_billing                      7043 non-null   object
 15  monthly_charges                        7043 non-null   float64
 16  total_charges                          7043 non-null   object
 17  churn                                  7043 non-null   object
 18  contract_type                          7043 non-null   object
 19  internet_service_type                  5517 non-null   object
 20  payment_type                           7043 non-null   object
 21  gender_Male                            7043 non-null   int64
 22  partner_Yes                            7043 non-null   int64
 23  dependents_Yes                         7043 non-null   int64
 24  phone_service_Yes                      7043 non-null   int64
 25  multiple_lines_No phone service        7043 non-null   int64
 26  multiple_lines_Yes                     7043 non-null   int64
 27  online_security_No internet service    7043 non-null   int64
 28  online_security_Yes                    7043 non-null   int64
 29  online_backup_No internet service      7043 non-null   int64
 30  online_backup_Yes                      7043 non-null   int64
 31  device_protection_No internet service  7043 non-null   int64
 32  device_protection_Yes                  7043 non-null   int64
 33  tech_support_No internet service       7043 non-null   int64
 34  tech_support_Yes                       7043 non-null   int64
 35  streaming_tv_No internet service       7043 non-null   int64
 36  streaming_tv_Yes                       7043 non-null   int64
 37  streaming_movies_No internet service   7043 non-null   int64
 38  streaming_movies_Yes                   7043 non-null   int64
 39  paperless_billing_Yes                  7043 non-null   int64
 40  churn_Yes                              7043 non-null   int64
 41  contract_type_One year                 7043 non-null   int64
 42  contract_type_Two year                 7043 non-null   int64
 43  internet_service_type_Fiber optic      7043 non-null   int64
 44  payment_type_Credit card (automatic)   7043 non-null   int64
 45  payment_type_Electronic check          7043 non-null   int64
 46  payment_type_Mailed check              7043 non-null   int64
dtypes: float64(1), int64(28), object(18)
memory usage: 2.5+ MB

In [298]:
telco_df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_No phone service,multiple_lines_Yes,online_security_No internet service,online_security_Yes,online_backup_No internet service,online_backup_Yes,device_protection_No internet service,device_protection_Yes,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check,0,1,1,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,1
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,0
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check,1,1,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,1,1,1,0,0,1,0,1,0
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,No,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Fiber optic,Mailed check,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,1,0,0,1,0,0,1

In [299]:
cols_to_drop = ['gender','partner', 'dependents', 'phone_service', 'multiple_lines', 'online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies', 'paperless_billing', 'churn', 'contract_type', 'internet_service_type', 'payment_type']
telco_df_clean = telco_df.drop(columns= cols_to_drop)

In [300]:
telco_df_clean.head()

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_No phone service,multiple_lines_Yes,online_security_No internet service,online_security_Yes,online_backup_No internet service,online_backup_Yes,device_protection_No internet service,device_protection_Yes,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0002-ORFBO,0,9,65.6,593.3,0,1,1,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,1
1,0003-MKNFE,0,9,59.9,542.4,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
2,0004-TLHLJ,0,4,73.9,280.85,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,0
3,0011-IGKFF,1,13,98.0,1237.85,1,1,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,1,1,1,0,0,1,0,1,0
4,0013-EXCHZ,1,3,83.9,267.4,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,1,0,0,1,0,0,1

4. Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [303]:
def prep_telco(telco_df):
    #drop duplicate columns
    telco_df = telco_df.drop(columns =['payment_type_id','internet_service_type_id','contract_type_id'])
    #create dummies
    dummy_list = ['gender','partner', 'dependents', 'phone_service', 'multiple_lines', 'online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies', 'paperless_billing', 'churn', 'contract_type', 'internet_service_type', 'payment_type']
    dummy_df = pd.get_dummies(telco_df[dummy_list], dtype=int, drop_first=True)
    # join dummy & telco_df
    telco_df = pd.concat([telco_df, dummy_df], axis=1)
    # drop str column categories
    cols_to_drop = ['gender','partner', 'dependents', 'phone_service', 'multiple_lines', 'online_security', 'online_backup', 'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies', 'paperless_billing', 'churn', 'contract_type', 'internet_service_type', 'payment_type']
    telco_df = telco_df.drop(columns= cols_to_drop)
    #total_charges.str.replace(' ', '0').astype(float)
    

    return telco_df

In [306]:
# check function
telco_df = acquire.get_telco_data()
telco_df.head(3)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check

In [307]:
telco_df = prep_telco(telco_df)
telco_df.head()

,customer_id,senior_citizen,tenure,monthly_charges,total_charges,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,multiple_lines_No phone service,multiple_lines_Yes,online_security_No internet service,online_security_Yes,online_backup_No internet service,online_backup_Yes,device_protection_No internet service,device_protection_Yes,tech_support_No internet service,tech_support_Yes,streaming_tv_No internet service,streaming_tv_Yes,streaming_movies_No internet service,streaming_movies_Yes,paperless_billing_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,0002-ORFBO,0,9,65.6,593.3,0,1,1,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,1
1,0003-MKNFE,0,9,59.9,542.4,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1
2,0004-TLHLJ,0,4,73.9,280.85,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,0
3,0011-IGKFF,1,13,98.0,1237.85,1,1,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,1,1,1,0,0,1,0,1,0
4,0013-EXCHZ,1,3,83.9,267.4,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,1,0,0,1,0,0,1

### Split your data

1. Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

In [310]:
def split_data(df, target_variable):
    '''
    take in a DataFrame and return train, validate, and test DataFrames; stratify on survived.
    return train, validate, test DataFrames.
    '''
    train_validate, test = train_test_split(df, test_size=.2, random_state=123, stratify=df[target_variable])
    train, validate = train_test_split(train_validate, 
                                       test_size=.25, 
                                       random_state=123, 
                                       stratify=train_validate[target_variable])
    
    print(f'Train: {len(train)/len(df)}')
    print(f'Validate: {len(validate)/len(df)}')
    print(f'Test: {len(test)/len(df)}')

    return train, validate, test

2. Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

In [311]:
split_data(iris_df, 'species')

Train: 0.6
Validate: 0.2
Test: 0.2

(     sepal_length  sepal_width  petal_length  petal_width     species  \
 70            5.9          3.2           4.8          1.8  versicolor
 123           6.3          2.7           4.9          1.8   virginica
 87            6.3          2.3           4.4          1.3  versicolor
 3             4.6          3.1           1.5          0.2      setosa
 15            5.7          4.4           1.5          0.4      setosa
 53            5.5          2.3           4.0          1.3  versicolor
 20            5.4          3.4           1.7          0.2      setosa
 50            7.0          3.2           4.7          1.4  versicolor
 54            6.5          2.8           4.6          1.5  versicolor
 52            6.9          3.1           4.9          1.5  versicolor
 81            5.5          2.4           3.7          1.0  versicolor
 88            5.6          3.0           4.1          1.3  versicolor
 145           6.7          3.0           5.2          2.3   virginica
 130           7.4          2.8           6.1          1.9   virginica
 149           5.9          3.0           5.1          1.8   virginica
 85            6.0          3.4           4.5          1.6  versicolor
 6             4.6          3.4           1.4          0.3      setosa
 31            5.4          3.4           1.5          0.4      setosa
 4             5.0          3.6           1.4          0.2      setosa
 18            5.7          3.8           1.7          0.3      setosa
 92            5.8          2.6           4.0          1.2  versicolor
 74            6.4          2.9           4.3          1.3  versicolor
 139           6.9          3.1           5.4          2.1   virginica
 125           7.2          3.2           6.0          1.8   virginica
 133           6.3          2.8           5.1          1.5   virginica
 100           6.3          3.3           6.0          2.5   virginica
 84            5.4          3.0           4.5          1.5  versicolor
 36            5.5          3.5           1.3          0.2      setosa
 41            4.5          2.3           1.3          0.3      setosa
 91            6.1          3.0           4.6          1.4  versicolor
 108           6.7          2.5           5.8          1.8   virginica
 89            5.5          2.5           4.0          1.3  versicolor
 23            5.1          3.3           1.7          0.5      setosa
 35            5.0          3.2           1.2          0.2      setosa
 137           6.4          3.1           5.5          1.8   virginica
 129           7.2          3.0           5.8          1.6   virginica
 1             4.9          3.0           1.4          0.2      setosa
 16            5.4          3.9           1.3          0.4      setosa
 55            5.7          2.8           4.5          1.3  versicolor
 67            5.8          2.7           4.1          1.0  versicolor
 32            5.2          4.1           1.5          0.1      setosa
 94            5.6          2.7           4.2          1.3  versicolor
 48            5.3          3.7           1.5          0.2      setosa
 25            5.0          3.0           1.6          0.2      setosa
 12            4.8          3.0           1.4          0.1      setosa
 95            5.7          3.0           4.2          1.2  versicolor
 46            5.1          3.8           1.6          0.2      setosa
 43            5.0          3.5           1.6          0.6      setosa
 69            5.6          2.5           3.9          1.1  versicolor
 119           6.0          2.2           5.0          1.5   virginica
 107           7.3          2.9           6.3          1.8   virginica
 140           6.7          3.1           5.6          2.4   virginica
 114           5.8          2.8           5.1          2.4   virginica
 104           6.5          3.0           5.8          2.2   virginica
 61            5.9          3.0           4.2          1.5  versicolor
 26            5.0          3.4           1.6          0.4      setosa
 82            5.8          2.7           3.9          1.2  versicolor
 8             4.4          2.9           1.4          0.2      setosa
 24            4.8          3.4           1.9          0.2      setosa
 51            6.4          3.2           4.5          1.5  versicolor
 115           6.4          3.2           5.3          2.3   virginica
 132           6.4          2.8           5.6          2.2   virginica
 126           6.2          2.8           4.8          1.8   virginica
 128           6.4          2.8           5.6          2.1   virginica
 14            5.8          4.0           1.2          0.2      setosa
 40            5.0          3.5           1.3          0.3      setosa
 59            5.2          2.7           3.9          1.4  versicolor
 109           7.2          3.6           6.1          2.5   virginica
 57            4.9          2.4           3.3          1.0  versicolor
 79            5.7          2.6           3.5          1.0  versicolor
 103           6.3          2.9           5.6          1.8   virginica
 9             4.9          3.1           1.5          0.1      setosa
 7             5.0          3.4           1.5          0.2      setosa
 142           5.8          2.7           5.1          1.9   virginica
 112           6.8          3.0           5.5          2.1   virginica
 73            6.1          2.8           4.7          1.2  versicolor
 83            6.0          2.7           5.1          1.6  versicolor
 111           6.4          2.7           5.3          1.9   virginica
 120           6.9          3.2           5.7          2.3   virginica
 147           6.5          3.0           5.2          2.0   virginica
 131           7.9          3.8           6.4          2.0   virginica
 5             5.4          3.9           1.7          0.4      setosa
 58            6.6          2.9           4.6          1.3  versicolor
 118           7.7          2.6           6.9          2.3   virginica
 141           6.9          3.1           5.1          2.3   virginica
 11            4.8          3.4           1.6          0.2      setosa
 29            4.7          3.2           1.6          0.2      setosa
 96            5.7          2.9           4.2          1.3  versicolor
 44            5.1          3.8           1.9          0.4      setosa
 97            6.2          2.9           4.3          1.3  versicolor

      versicolor  virginica
 70            1          0
 123           0          1
 87            1          0
 3             0          0
 15            0          0
 53            1          0
 20            0          0
 50            1          0
 54            1          0
 52            1          0
 81            1          0
 88            1          0
 145           0          1
 130           0          1
 149           0          1
 85            1          0
 6             0          0
 31            0          0
 4             0          0
 18            0          0
 92            1          0
 74            1          0
 139           0          1
 125           0          1
 133           0          1
 100           0          1
 84            1          0
 36            0          0
 41            0          0
 91            1          0
 108           0          1
 89            1          0
 23            0          0
 35            0          0
 137           0          1
 129           0          1
 1             0          0
 16            0          0
 55            1          0
 67            1          0
 32            0          0
 94            1          0
 48            0          0
 25            0          0
 12            0          0
 95            1          0
 46            0          0
 43            0          0
 69            1          0
 119           0          1
 107           0          1
 140           0          1
 114           0          1
 104           0          1
 61            1          0
 26            0          0
 82            1          0
 8             0          0
 24            0          0
 51            1          0
 115           0          1
 132           0          1
 126           0          1
 128           0          1
 14            0          0
 40            0          0
 59            1          0
 109           0          1
 57            1          0
 79            1          0
 103           0          1
 9             0          0
 7             0          0
 142           0          1
 112           0          1
 73            1          0
 83            1          0
 111           0          1
 120           0          1
 147           0          1
 131           0          1
 5             0          0
 58            1          0
 118           0          1
 141           0          1
 11            0          0
 29            0          0
 96            1          0
 44            0          0
 97            1          0  ,
      sepal_length  sepal_width  petal_length  petal_width     species  \
 124           6.7          3.3           5.7          2.1   virginica
 62            6.0          2.2           4.0          1.0  versicolor
 122           7.7          2.8           6.7          2.0   virginica
 98            5.1          2.5           3.0          1.1  versicolor
 64            5.6          2.9           3.6          1.3  versicolor
 60            5.0          2.0           3.5          1.0  versicolor
 136           6.3          3.4           5.6          2.4   virginica
 39            5.1          3.4           1.5          0.2      setosa
 27            5.2          3.5           1.5          0.2      setosa
 13            4.3          3.0           1.1          0.1      setosa
 99            5.7          2.8           4.1          1.3  versicolor
 90            5.5          2.6           4.4          1.2  versicolor
 121           5.6          2.8           4.9          2.0   virginica
 10            5.4          3.7           1.5          0.2      setosa
 47            4.6          3.2           1.4          0.2      setosa
 143           6.8          3.2           5.9          2.3   virginica
 21            5.1          3.7           1.5          0.4      setosa
 66            5.6          3.0           4.5          1.5  versicolor
 78            6.0          2.9           4.5          1.5  versicolor
 148           6.2          3.4           5.4          2.3   virginica
 113           5.7          2.5           5.0          2.0   virginica
 75            6.6          3.0           4.4          1.4  versicolor
 37            4.9          3.6           1.4          0.1      setosa
 49            5.0          3.3           1.4          0.2      setosa
 134           6.1          2.6           5.6          1.4   virginica
 106           4.9          2.5           4.5          1.7   virginica
 102           7.1          3.0           5.9          2.1   virginica
 71            6.1          2.8           4.0          1.3  versicolor
 30            4.8          3.1           1.6          0.2      setosa
 0             5.1          3.5           1.4          0.2      setosa

      versicolor  virginica
 124           0          1
 62            1          0
 122           0          1
 98            1          0
 64            1          0
 60            1          0
 136           0          1
 39            0          0
 27            0          0
 13            0          0
 99            1          0
 90            1          0
 121           0          1
 10            0          0
 47            0          0
 143           0          1
 21            0          0
 66            1          0
 78            1          0
 148           0          1
 113           0          1
 75            1          0
 37            0          0
 49            0          0
 134           0          1
 106           0          1
 102           0          1
 71            1          0
 30            0          0
 0             0          0  ,
      sepal_length  sepal_width  petal_length  petal_width     species  \
 80            5.5          2.4           3.8          1.1  versicolor
 45            4.8          3.0           1.4          0.3      setosa
 144           6.7          3.3           5.7          2.5   virginica
 110           6.5          3.2           5.1          2.0   virginica
 38            4.4          3.0           1.3          0.2      setosa
 2             4.7          3.2           1.3          0.2      setosa
 135           7.7          3.0           6.1          2.3   virginica
 72            6.3          2.5           4.9          1.5  versicolor
 138           6.0          3.0           4.8          1.8   virginica
 34            4.9          3.1           1.5          0.2      setosa
 19            5.1          3.8           1.5          0.3      setosa
 77            6.7          3.0           5.0          1.7  versicolor
 101           5.8          2.7           5.1          1.9   virginica
 63            6.1          2.9           4.7          1.4  versicolor
 117           7.7          3.8           6.7          2.2   virginica
 76            6.8          2.8           4.8          1.4  versicolor
 42            4.4          3.2           1.3          0.2      setosa
 22            4.6          3.6           1.0          0.2      setosa
 28            5.2          3.4           1.4          0.2      setosa
 33            5.5          4.2           1.4          0.2      setosa
 17            5.1          3.5           1.4          0.3      setosa
 116           6.5          3.0           5.5          1.8   virginica
 127           6.1          3.0           4.9          1.8   virginica
 56            6.3          3.3           4.7          1.6  versicolor
 105           7.6          3.0           6.6          2.1   virginica
 146           6.3          2.5           5.0          1.9   virginica
 93            5.0          2.3           3.3          1.0  versicolor
 86            6.7          3.1           4.7          1.5  versicolor
 68            6.2          2.2           4.5          1.5  versicolor
 65            6.7          3.1           4.4          1.4  versicolor

      versicolor  virginica
 80            1          0
 45            0          0
 144           0          1
 110           0          1
 38            0          0
 2             0          0
 135           0          1
 72            1          0
 138           0          1
 34            0          0
 19            0          0
 77            1          0
 101           0          1
 63            1          0
 117           0          1
 76            1          0
 42            0          0
 22            0          0
 28            0          0
 33            0          0
 17            0          0
 116           0          1
 127           0          1
 56            1          0
 105           0          1
 146           0          1
 93            1          0
 86            1          0
 68            1          0
 65            1          0  )

3. Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

In [312]:
split_data(titanic_df, 'survived')

Train: 0.5993265993265994
Validate: 0.19977553310886645
Test: 0.20089786756453423

(     passenger_id  survived  pclass     sex  sibsp  parch      fare  \
 455           455         1       3    male      0      0    7.8958
 380           380         1       1  female      0      0  227.5250
 492           492         0       1    male      0      0   30.5000
 55             55         1       1    male      0      0   35.5000
 243           243         0       3    male      0      0    7.1250
 ..            ...       ...     ...     ...    ...    ...       ...
 695           695         0       2    male      0      0   13.5000
 128           128         1       3  female      1      1   22.3583
 636           636         0       3    male      0      0    7.9250
 222           222         0       3    male      0      0    8.0500
 496           496         1       1  female      1      0   78.2667

      embark_town  alone  sex_male  embark_town_Queenstown  \
 455    Cherbourg      1         1                       0
 380    Cherbourg      1         0                       0
 492  Southampton      1         1                       0
 55   Southampton      1         1                       0
 243  Southampton      1         1                       0
 ..           ...    ...       ...                     ...
 695  Southampton      1         1                       0
 128    Cherbourg      0         0                       0
 636  Southampton      1         1                       0
 222  Southampton      1         1                       0
 496    Cherbourg      0         0                       0

      embark_town_Southampton
 455                        0
 380                        0
 492                        1
 55                         1
 243                        1
 ..                       ...
 695                        1
 128                        0
 636                        1
 222                        1
 496                        0

 [534 rows x 12 columns],
      passenger_id  survived  pclass     sex  sibsp  parch     fare  \
 176           176         0       3    male      3      1  25.4667
 372           372         0       3    male      0      0   8.0500
 678           678         0       3  female      1      6  46.9000
 778           778         0       3    male      0      0   7.7375
 463           463         0       2    male      0      0  13.0000
 ..            ...       ...     ...     ...    ...    ...      ...
 622           622         1       3    male      1      1  15.7417
 302           302         0       3    male      0      0   0.0000
 518           518         1       2  female      1      0  26.0000
 765           765         1       1  female      1      0  77.9583
 837           837         0       3    male      0      0   8.0500

      embark_town  alone  sex_male  embark_town_Queenstown  \
 176  Southampton      0         1                       0
 372  Southampton      1         1                       0
 678  Southampton      0         0                       0
 778   Queenstown      1         1                       1
 463  Southampton      1         1                       0
 ..           ...    ...       ...                     ...
 622    Cherbourg      0         1                       0
 302  Southampton      1         1                       0
 518  Southampton      0         0                       0
 765  Southampton      0         0                       0
 837  Southampton      1         1                       0

      embark_town_Southampton
 176                        1
 372                        1
 678                        1
 778                        0
 463                        1
 ..                       ...
 622                        0
 302                        1
 518                        1
 765                        1
 837                        1

 [178 rows x 12 columns],
      passenger_id  survived  pclass     sex  sibsp  parch      fare  \
 561           561         0       3    male      0      0    7.8958
 641           641         1       1  female      0      0   69.3000
 400           400         1       3    male      0      0    7.9250
 498           498         0       1  female      1      2  151.5500
 875           875         1       3  female      0      0    7.2250
 ..            ...       ...     ...     ...    ...    ...       ...
 339           339         0       1    male      0      0   35.5000
 841           841         0       2    male      0      0   10.5000
 442           442         0       3    male      1      0    7.7750
 815           815         0       1    male      0      0    0.0000
 53             53         1       2  female      1      0   26.0000

      embark_town  alone  sex_male  embark_town_Queenstown  \
 561  Southampton      1         1                       0
 641    Cherbourg      1         0                       0
 400  Southampton      1         1                       0
 498  Southampton      0         0                       0
 875    Cherbourg      1         0                       0
 ..           ...    ...       ...                     ...
 339  Southampton      1         1                       0
 841  Southampton      1         1                       0
 442  Southampton      0         1                       0
 815  Southampton      1         1                       0
 53   Southampton      0         0                       0

      embark_town_Southampton
 561                        1
 641                        0
 400                        1
 498                        1
 875                        0
 ..                       ...
 339                        1
 841                        1
 442                        1
 815                        1
 53                         1

 [179 rows x 12 columns])

4. Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

In [314]:
split_data(telco_df, 'churn_Yes')

Train: 0.5998864120403238
Validate: 0.20005679397983814
Test: 0.20005679397983814

(     customer_id  senior_citizen  tenure  monthly_charges total_charges  \
 5911  8319-QBEHW               0      26            39.95       1023.75
 2479  3547-LQRIK               0      47            26.90       1250.85
 5889  8280-MQRQN               0       1            50.45         50.45
 6087  8626-PTQGE               0      69            60.05        4176.7
 785   1142-IHLOO               0      51            87.55        4475.9
 ...          ...             ...     ...              ...           ...
 6102  8642-GVWRF               0       2            79.70           165
 356   0523-VNGTF               1      52            50.50        2566.3
 1756  2568-BRGYX               0       4            70.20        237.95
 2127  3057-VJJQE               0      35            55.25        1924.1
 3586  5081-NWSUP               0      10            64.90        685.55

       gender_Male  partner_Yes  dependents_Yes  phone_service_Yes  \
 5911            1            0               1                  0
 2479            0            1               0                  1
 5889            0            0               0                  1
 6087            1            0               0                  0
 785             0            0               0                  1
 ...           ...          ...             ...                ...
 6102            0            1               0                  1
 356             0            0               0                  0
 1756            1            0               0                  1
 2127            1            0               0                  1
 3586            0            0               0                  1

       multiple_lines_No phone service  multiple_lines_Yes  \
 5911                                1                   0
 2479                                0                   1
 5889                                0                   0
 6087                                1                   0
 785                                 0                   0
 ...                               ...                 ...
 6102                                0                   0
 356                                 1                   0
 1756                                0                   0
 2127                                0                   1
 3586                                0                   0

       online_security_No internet service  online_security_Yes  \
 5911                                    0                    0
 2479                                    1                    0
 5889                                    0                    0
 6087                                    0                    1
 785                                     0                    0
 ...                                   ...                  ...
 6102                                    0                    0
 356                                     0                    0
 1756                                    0                    0
 2127                                    0                    1
 3586                                    0                    0

       online_backup_No internet service  online_backup_Yes  \
 5911                                  0                  1
 2479                                  1                  0
 5889                                  0                  0
 6087                                  0                  1
 785                                   0                  0
 ...                                 ...                ...
 6102                                  0                  1
 356                                   0                  1
 1756                                  0                  0
 2127                                  0                  0
 3586                                  0                  1

       device_protection_No internet service  device_protection_Yes  \
 5911                                      0                      0
 2479                                      1                      0
 5889                                      0                      1
 6087                                      0                      0
 785                                       0                      0
 ...                                     ...                    ...
 6102                                      0                      1
 356                                       0                      1
 1756                                      0                      0
 2127                                      0                      0
 3586                                      0                      0

       tech_support_No internet service  tech_support_Yes  \
 5911                                 0                 0
 2479                                 1                 0
 5889                                 0                 0
 6087                                 0                 1
 785                                  0                 0
 ...                                ...               ...
 6102                                 0                 0
 356                                  0                 1
 1756                                 0                 0
 2127                                 0                 0
 3586                                 0                 1

       streaming_tv_No internet service  streaming_tv_Yes  \
 5911                                 0                 1
 2479                                 1                 0
 5889                                 0                 0
 6087                                 0                 1
 785                                  0                 1
 ...                                ...               ...
 6102                                 0                 0
 356                                  0                 1
 1756                                 0                 0
 2127                                 0                 0
 3586                                 0                 0

       streaming_movies_No internet service  streaming_movies_Yes  \
 5911                                     0                     0
 2479                                     1                     0
 5889                                     0                     0
 6087                                     0                     1
 785                                      0                     1
 ...                                    ...                   ...
 6102                                     0                     0
 356                                      0                     0
 1756                                     0                     0
 2127                                     0                     0
 3586                                     0                     1

       paperless_billing_Yes  churn_Yes  contract_type_One year  \
 5911                      1          0                       1
 2479                      0          0                       1
 5889                      1          1                       0
 6087                      1          0                       0
 785                       0          0                       1
 ...                     ...        ...                     ...
 6102                      0          1                       0
 356                       1          0                       0
 1756                      1          1                       0
 2127                      0          0                       0
 3586                      0          0                       1

       contract_type_Two year  internet_service_type_Fiber optic  \
 5911                       0                                  0
 2479                       0                                  0
 5889                       0                                  0
 6087                       1                                  0
 785                        0                                  1
 ...                      ...                                ...
 6102                       0                                  1
 356                        0                                  0
 1756                       0                                  1
 2127                       1                                  0
 3586                       0                                  0

       payment_type_Credit card (automatic)  payment_type_Electronic check  \
 5911                                     0                              0
 2479                                     0                              1
 5889                                     0                              0
 6087                                     0                              0
 785                                      1                              0
 ...                                    ...                            ...
 6102                                     0                              0
 356                                      0                              1
 1756                                     0                              1
 2127                                     0                              0
 3586                                     0                              0

       payment_type_Mailed check
 5911                          0
 2479                          0
 5889                          1
 6087                          0
 785                           0
 ...                         ...
 6102                          0
 356                           0
 1756                          0
 2127                          1
 3586                          1

 [4225 rows x 31 columns],
      customer_id  senior_citizen  tenure  monthly_charges total_charges  \
 3554  5035-PGZXH               0      56           106.80        5914.4
 2063  2969-VAPYH               0      67            60.50          3870
 1737  2528-HFYZX               1      17            76.45        1233.4
 5894  8292-ITGYJ               0      45            24.65        1138.8
 209   0324-BRPCJ               1      68           100.20       6851.65
 ...          ...             ...     ...              ...           ...
 2529  3621-CEOVK               1      14           100.20        1369.8
 6540  9283-LZQOH               0      13            74.40        896.75
 5765  8107-RZLNV               0      72           106.30       7565.35
 6959  9871-ELEYA               0      34            67.65        2339.3
 3108  4455-BFSPD               0      61           101.15        6383.9

       gender_Male  partner_Yes  dependents_Yes  phone_service_Yes  \
 3554            0            0               0                  1
 2063            0            0               0                  1
 1737            1            1               0                  1
 5894            0            1               1                  1
 209             0            1               0                  1
 ...           ...          ...             ...                ...
 2529            0            1               0                  1
 6540            1            1               1                  1
 5765            1            1               0                  1
 6959            0            0               1                  1
 3108            0            1               0                  1

       multiple_lines_No phone service  multiple_lines_Yes  \
 3554                                0                   1
 2063                                0                   0
 1737                                0                   0
 5894                                0                   1
 209                                 0                   1
 ...                               ...                 ...
 2529                                0                   1
 6540                                0                   1
 5765                                0                   1
 6959                                0                   0
 3108                                0                   1

       online_security_No internet service  online_security_Yes  \
 3554                                    0                    0
 2063                                    0                    1
 1737                                    0                    0
 5894                                    1                    0
 209                                     0                    0
 ...                                   ...                  ...
 2529                                    0                    0
 6540                                    0                    0
 5765                                    0                    0
 6959                                    0                    1
 3108                                    0                    0

       online_backup_No internet service  online_backup_Yes  \
 3554                                  0                  1
 2063                                  0                  1
 1737                                  0                  1
 5894                                  1                  0
 209                                   0                  1
 ...                                 ...                ...
 2529                                  0                  1
 6540                                  0                  0
 5765                                  0                  1
 6959                                  0                  0
 3108                                  0                  0

       device_protection_No internet service  device_protection_Yes  \
 3554                                      0                      1
 2063                                      0                      0
 1737                                      0                      0
 5894                                      1                      0
 209                                       0                      0
 ...                                     ...                    ...
 2529                                      0                      0
 6540                                      0                      0
 5765                                      0                      1
 6959                                      0                      1
 3108                                      0                      0

       tech_support_No internet service  tech_support_Yes  \
 3554                                 0                 0
 2063                                 0                 1
 1737                                 0                 0
 5894                                 1                 0
 209                                  0                 0
 ...                                ...               ...
 2529                                 0                 0
 6540                                 0                 0
 5765                                 0                 0
 6959                                 0                 1
 3108                                 0                 1

       streaming_tv_No internet service  streaming_tv_Yes  \
 3554                                 0                 1
 2063                                 0                 0
 1737                                 0                 0
 5894                                 1                 0
 209                                  0                 1
 ...                                ...               ...
 2529                                 0                 1
 6540                                 0                 0
 5765                                 0                 1
 6959                                 0                 1
 3108                                 0                 1

       streaming_movies_No internet service  streaming_movies_Yes  \
 3554                                     0                     1
 2063                                     0                     0
 1737                                     0                     0
 5894                                     1                     0
 209                                      0                     1
 ...                                    ...                   ...
 2529                                     0                     1
 6540                                     0                     0
 5765                                     0                     1
 6959                                     0                     0
 3108                                     0                     1

       paperless_billing_Yes  churn_Yes  contract_type_One year  \
 3554                      1          0                       1
 2063                      0          0                       1
 1737                      1          1                       0
 5894                      1          0                       0
 209                       1          1                       0
 ...                     ...        ...                     ...
 2529                      1          1                       0
 6540                      1          1                       0
 5765                      1          0                       0
 6959                      0          0                       0
 3108                      0          0                       1

       contract_type_Two year  internet_service_type_Fiber optic  \
 3554                       0                                  1
 2063                       0                                  0
 1737                       0                                  1
 5894                       1                                  0
 209                        0                                  1
 ...                      ...                                ...
 2529                       0                                  1
 6540                       0                                  1
 5765                       1                                  1
 6959                       1                                  0
 3108                       0                                  1

       payment_type_Credit card (automatic)  payment_type_Electronic check  \
 3554                                     0                              1
 2063                                     1                              0
 1737                                     0                              1
 5894                                     0                              0
 209                                      0                              1
 ...                                    ...                            ...
 2529                                     0                              1
 6540                                     1                              0
 5765                                     0                              0
 6959                                     1                              0
 3108                                     0                              0

       payment_type_Mailed check
 3554                          0
 2063                          0
 1737                          0
 5894                          0
 209                           0
 ...                         ...
 2529                          0
 6540                          0
 5765                          0
 6959                          0
 3108                          0

 [1409 rows x 31 columns],
      customer_id  senior_citizen  tenure  monthly_charges total_charges  \
 3160  4531-AUZNK               0      51            95.15       5000.05
 1577  2296-DKZFP               0      65            71.00        4386.2
 6823  9692-TUSXH               0      18            96.05        1740.7
 3615  5129-JLPIS               0      25           105.50       2686.05